@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

body,
#root {
    min-height: 100vh;
}

a {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    color: currentColor;
}

img,
picture,
video {
    max-width: 100%;
    display: block;
}

input:not(input[type="checkbox"]):not(input[type="radio"]) {
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

html {
    scrollbar-color: #7e88c3 #252945;
}

::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-track {
    border-radius: 100vmax;
    background-color: #252945;
}

::-webkit-scrollbar-thumb {
    border-radius: 100vmax;
    background-color: #7e88c3;
}

.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 0.4);
    z-index: 50;
}

@layer components {
    .navigation-link {
        @apply px-3 py-2 transition-colors rounded-md text-accent-400 hover:bg-accent-100 focus-visible:outline outline-2 outline-accent-300;
    }
    
    .focus {
        @apply rounded-md focus-visible:outline outline-2 outline-offset-2 outline-accent-300;
    }

    .navigation-link--inverted {
        @apply bg-accent-100 hover:bg-white
    }

    .link {
        @apply rounded-sm text-accent-400 hover:underline focus focus-visible:outline outline-2 outline-accent-300;
    }
    
    .label {
        @apply font-medium mb-[2px] inline-block;
    }

    .gradient-text {
        @apply text-transparent bg-clip-text bg-gradient-to-l from-accent-300 to-accent-400;
    }

    .card {
        @apply flex flex-col w-full max-w-md gap-5 p-4 mx-auto border shadow-lg rounded-2xl bg-gradient-to-tr from-white to-accent-100 border-neutral-500 md:p-7;
    }
}
